* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
  background-image: url('/assets/sky_00009.jpg');
}

.top-logo {
  font-size: 36px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-family: 'Comic Sans MS', cursive;
}


.search-form {
  width: 65vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  min-width: 200px;

}

.result {
  text-decoration: none;
  font-weight: bold;
  margin-right: 3vw;
  color: red;
}

.goal {
  text-decoration: none;
  color: black;
  margin-right: 3vw;
}

.event-list{
  text-decoration: none;
  color: black;
  margin-right: 3vw;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: black;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: black;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: black;
}

.sign-up {
  text-decoration: none;
  color: black;
}