<h2>おこずかいお設定</h2>
<%= form_with model: @event, class: 'form', local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :unit_price, class: 'unit_price', placeholder: '単価', id: 'event_unit_price' %>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>